/* Media Query for screens with max-width 1400px */
@media screen and (max-width: 1400px) {
  /* Adjustments for #profile section */
    #profile {
      height: 83vh;
      margin-bottom: 6rem;
    }

    /* Flex-wrap adjustment for .about-containers */
    .about-containers {
      flex-wrap: wrap;
    }

    /* Height adjustment for #contact and #projects sections */
    #contact,
    #projects {
      height: fit-content;
    }
    /* Dark mode styles for smaller screens */
    body.darkmode {
      background-color: #333; /* Replace with your dark mode background color */
      color: #fff; /* Replace with your dark mode text color */
    }
  }
  
  /* Media Query for screens with max-width 1200px */
  @media screen and (max-width: 1200px) {
    /* Display adjustments for navigation */
    #desktop-nav {
      display: none;
    }
    #hamburger-nav {
      display: flex;
    }

    /* Margin adjustment for #experience and .experience-details-container */
    #experience,
    .experience-details-container {
      margin-top: 2rem;
    }

    /* Display adjustments for #profile, .section-container, and .arrow */
    #profile,
    .section-container {
      display: block;
    }
    .arrow {
      display: none;
    }

    /* Height adjustment for section and .section-container */
    section,
    .section-container {
      height: fit-content;
    }

    /* Margin and width adjustments for section */
    section {
      margin: 0 5%;
    }

    /* Width and height adjustments for .section__pic-container */
    .section__pic-container {
      width: 275px;
      height: 275px;
      margin: 0 auto 2rem;
    }

    /* Margin-top adjustment for .about-containers */
    .about-containers {
      margin-top: 0;
    }
    /* Dark mode styles for medium-sized screens */
    body.darkmode {
      background-color: #555; /* Replace with your dark mode background color */
      color: #fff; /* Replace with your dark mode text color */
    }
  }
  
  /* Media Query for screens with max-width 600px */
  @media screen and (max-width: 600px) {
    /* Height adjustment for #contact and footer sections */
    #contact,
    footer {
      height: 40vh;
    }

    /* Height and margin-bottom adjustment for #profile */
    #profile {
      height: 83vh;
      margin-bottom: 0;
    }

    /* Font-size adjustment for article */
    article {
      font-size: 1rem;
    }

    /* Height and margin-bottom adjustment for footer nav */
    footer nav {
      height: fit-content;
      margin-bottom: 2rem;
    }

    /* Flex-wrap adjustment for .about-containers, .contact-info-upper-container, and .btn-container */
    .about-containers,
    .contact-info-upper-container,
    .btn-container {
      flex-wrap: wrap;
    }

    /* Margin adjustment for .contact-info-container */
    .contact-info-container {
      margin: 0;
    }

    /* Font-size adjustment for .contact-info-container p, .nav-links li a */
    .contact-info-container p,
    .nav-links li a {
      font-size: 1rem;
    }

    /* Font-size adjustment for .experience-sub-title */
    .experience-sub-title {
      font-size: 1.25rem;
    }

    /* Font-size adjustment for .logo */
    .logo {
      font-size: 1.5rem;
    }

    /* Flex-direction, gap, and text-align adjustments for .nav-links */
    .nav-links {
      flex-direction: column;
      gap: 0.5rem;
      text-align: center;
    }

    /* Width, height, and justify-content adjustments for .section__pic-container */
    .section__pic-container {
      width: auto;
      height: 46vw;
      justify-content: center;
    }

    /* Font-size adjustment for .section__text__p2 */
    .section__text__p2 {
      font-size: 1.25rem;
    }

    /* Font-size adjustment for .title */
    .title {
      font-size: 2rem;
    }

    /* Text-align adjustment for .text-container */
    .text-container {
      text-align: justify;
    }

    /* Dark mode styles for smaller screens */
    body.darkmode {
      background-color: #555; /* Replace with your dark mode background color */
      color: #fff; /* Replace with your dark mode text color */
    }
  }


